<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>OAuth2 Discord Demo</title>
	<link th:href="@{https://app.inkontext.ru/kontext/plugins/bootstrap/bootstrap.min.css}"
	      rel="stylesheet">
	<link th:href="@{https://app.inkontext.ru/kontext/theme/css/font-awesome/css/font-awesome.min.css}"
	      rel="stylesheet">
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="container">
	<div class="offset-3">
		<h1 class="title">OAuth2 Discord Demo</h1>

		<div sec:authorize="isAuthenticated()">
			<div class="box">
				Привет, <strong th:text="${#authentication.name}"></strong>!
			</div>
		</div>

		<div sec:authorize="isAnonymous()">
			<div class="box">
				<a class="btn btn-primary" th:href="@{/oauth2/authorization/discord}">Log in with
					Discord</a>
			</div>
		</div>
	</div>
</div>
<script th:src="@{https://app.inkontext.ru/kontext/plugins/require/require.js}"></script>
<script th:src="@{https://app.inkontext.ru/kontext/built/require-config.js}"></script>
<script th:src="@{/built/require-config-app.js}"></script>
<script>
	requirejs(["/built/domain/zachet.js"]);
</script>
</body>
</html>
