// Basic Colors
$navy: #4badb3;       // Primary color
$dark-gray: #c2c2c2;  // Default color
$blue: #2b91c6;       // Success color
$lazur: #1eb5c2;      // Info color
$yellow: #f8cc91;     // Warning color
$red: #ed8f99;        // Danger color

// Various colors
$text-color: #3c3f41;   // Body text
$gray: #f3f3f4;         // Background wrapper color
$light-gray: #D1DADE;   // Default label, badge

//PART выше общие цвета, которые копируются в модуль, импортирующий этот стартер
$label-badge-color: #5E5E5E;

// Spinner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;

// IBOX colors ( default panel colors)
$border-color: #e7eaec;     // IBox border
$ibox-title-bg:#ffffff;     // IBox Background header
$ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
$sidebar-width: 220px;

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: $text-color;
$nav-text-color: #bbbbbb;

//Base
$background: $nav-bg;
$basic-link-color: $blue;
